<%- include('../partials/heade.ejs') %>
<body>
    <%- include('../partials/navbar.ejs') %>
    
    <%- include('../partials/carousel.ejs') %>
      <br> 
  <div class="principal configD">
    <div class="container">
        <div class="categoria"><h1>FILMES</h1></div>

      <div class="row row-cols-1 row-cols-md-6 g-4">
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/homem-aranha-de-volta-ao-lar-lo10-90x60-cm-marvel.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">HOMEM ARANHA</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/babilonia.jfif" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">BABILONIA</h5>
                <p class="card-text">.</p>
              </div>
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/Captain_Marvel_(2018).jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">CAPITÃ MARVEL</h5>
                <p class="card-text"></p>
              </div>
            
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/wakada 2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">WAKANDA</h5>
                <p class="card-text">.</p>
              </div>
          </div>
        </div>
        <div class="col">
            <div class="card efeito efeitoCont">
              <img src="img/avatar.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">AVATAR</h5>
                <p class="card-text">.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card efeito efeitoCont">
              <img src="img/vigadores ultimato.jfif" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">AVENGERS ULTIMATO</h5>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
      </div>
      <br>
      <div class="categoria"><a href="/filmes"><h5>Veja mais</h5></a></div>
    </div>

    <div class="container">
        <br>

        <div class="categoria"><h1>SÉRIES</h1></div>

      <div class="row row-cols-1 row-cols-md-6 g-4">
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/mulher-hulk-cartaz-691x1024.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">HULK</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/see org.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">SEE</h5>
                <p class="card-text"></p>
              </div>
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/loki.jfif" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">LOKI</h5>
                <p class="card-text"></p>
              </div>
            
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/Lucifer_BbOekQo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">LUCIFER</h5>
                <p class="card-text"></p>
              </div>
          </div>
        </div>
        <div class="col">
            <div class="card efeito efeitoCont">
              <img src="img/lupin-2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">LUPIN</h5>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card efeito efeitoCont">
              <img src="img/priso reak.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">PRISON</h5>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
      </div>

      
      <br>
      <div class="categoria"><a href="/series"><h5>Veja mais</h5></a></div>
    </div>
    <div class="container">
      <br>
      <div class="categoria"><h1>ANIMES</h1></div>

    <div class="row row-cols-1 row-cols-md-6 g-4">
      <div class="col">
        <div class="card efeito efeitoCont">
          <img src="img/Grande mauricinho.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">GRANDE MAURICINHO</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card efeito efeitoCont">
          <img src="img/naruto.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">NARUTO</h5>
              <p class="card-text">.</p>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card efeito efeitoCont">
          <img src="img/miraculous.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">MIRACULOUS</h5>
              <p class="card-text"></p>
            </div>
          
        </div>
      </div>
      <div class="col">
        <div class="card efeito efeitoCont">
          <img src="img/gato-de-botas-2-o-ultimo-pedido.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">GATO DE BOTA</h5>
              <p class="card-text"></p>
            </div>
        </div>
      </div>
      <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/dory.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">DORY</h5>
              <p class="card-text">.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/Captain tsuasa.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">CAPITÃO TSUBASA</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
    </div>

    
    <br>
    <div class="categoria"><a href="/animes"><h5>Veja mais</h5></a></div>
  </div>

  <div class="container">
    <br>
    <div class="categoria"><h1>DOCUMENTÁRIOS</h1></div>

  <div class="row row-cols-1 row-cols-md-6 g-4">
    <div class="col">
      <div class="card efeito efeitoCont">
        <img src="img/Neymar_-_O_Caos_Perfeito.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Neymar</h5>
          <p class="card-text">.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card efeito efeitoCont">
        <img src="img/caminho do mar doc.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Caminho do Mar</h5>
            <p class="card-text"></p>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="card efeito efeitoCont">
        <img src="img/coração de pai doc.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Coração de Pai</h5>
            <p class="card-text"></p>
          </div>
        
      </div>
    </div>
    <div class="col">
      <div class="card efeito efeitoCont">
        <img src="img/corra doc.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Corra</h5>
            <p class="card-text">.</p>
          </div>
      </div>
    </div>
    <div class="col">
        <div class="card efeito efeitoCont">
          <img src="img/dirty money doc.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dirty Money</h5>
            <p class="card-text">.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card efeito efeitoCont">
          <img src="img/human-flow-doc.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Human Flow</h5>
            <p class="card-text">.</p>
          </div>
        </div>
      </div>
  </div>

  
  <br>
  <div class="categoria"><a href="/documentarios"><h5>Veja mais</h5></a></div>
</div>

<div class="container">
  <br>
  <div class="categoria"><h1>AÇÃO</h1></div>

<div class="row row-cols-1 row-cols-md-6 g-4">
  <div class="col">
    <div class="card efeito efeitoCont">
      <img src="img/tudo_todo_lado.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Tudo Todo Lado</h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card efeito efeitoCont">
      <img src="img/top-gun-maverick-poster-2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h5 class="card-title">Top Gun</h5>
          <p class="card-text">.</p>
        </div>
    </div>
  </div>
  <div class="col">
    <div class="card efeito efeitoCont">
      <img src="img/thor-ragnarok54276.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
          <h5 class="card-title">Thor Ragnarok</h5>
          <p class="card-text"></p>
        </div>
      
    </div>
  </div>
  <div class="col">
    <div class="card efeito efeitoCont">
      <img src="img/The_Avengers_1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h5 class="card-title"> Os Vigadores</h5>
          <p class="card-text">.</p>
        </div>
    </div>
  </div>
  <div class="col">
      <div class="card efeito efeitoCont">
        <img src="img/shang-Chi1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Shang Chi</h5>
          <p class="card-text">.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card efeito efeitoCont">
        <img src="img/maze runner cura mortal av.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Maze Runner</h5>
          <p class="card-text">.</p>
        </div>
      </div>
    </div>
</div>


<br>
<div class="categoria"><a href="/acao"><h5>Veja mais</h5></a></div>
</div>

<div class="container">
  <br>
  <div class="categoria"><h1>FICÇÃO CIENTIFICA</h1></div>

<div class="row row-cols-1 row-cols-md-6 g-4">
  <div class="col">
    <div class="card efeito efeitoCont">
      <img src="img/Quantumania.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Quantumania</h5>
        <p class="card-text">.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card efeito efeitoCont">
      <img src="img/adao negro fa.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h5 class="card-title">Adão Negro</h5>
          <p class="card-text">.</p>
        </div>
    </div>
  </div>
  <div class="col">
    <div class="card efeito efeitoCont">
      <img src="img/aquamam.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h5 class="card-title">Aquamam</h5>
          <p class="card-text">.</p>
        </div>
      
    </div>
  </div>
  <div class="col">
    <div class="card efeito efeitoCont">
      <img src="img/Blade Runner 2049.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h5 class="card-title">Blade Runner</h5>
          <p class="card-text">.</p>
        </div>
    </div>
  </div>
  <div class="col">
      <div class="card efeito efeitoCont">
        <img src="img/doutor estraho multiverso.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Doutor Estraho</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card efeito efeitoCont">
        <img src="img/Iron_Man_3_poster.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Iron Man 3</h5>
          <p class="card-text">.</p>
        </div>
      </div>
    </div>
</div>


<br>
<div class="categoria"><a href="/ficcao"><h5>Veja mais</h5></a></div>
</div>

<div class="container">
  <br>
  <div class="categoria"><h1>TERROR</h1></div>

<div class="row row-cols-1 row-cols-md-6 g-4">
  <div class="col">
    <div class="card efeito efeitoCont">
      <img src="img/luz do demoia.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Luz do Demonia</h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card efeito efeitoCont">
      <img src="img/um lugar silecioso.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h5 class="card-title"> Silecioso     </h5>
          <p class="card-text">.</p>
        </div>
    </div>
  </div>
  <div class="col">
    <div class="card efeito efeitoCont">
      <img src="img/livrai-nos do mal ter.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h5 class="card-title">Livrai-nos</h5>
          <p class="card-text">.</p>
        </div>
      
    </div>
  </div>
  <div class="col">
    <div class="card efeito efeitoCont">
      <img src="img/halloween ter.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">.</p>
        </div>
    </div>
  </div>
  <div class="col">
      <div class="card efeito efeitoCont">
        <img src="img/possessao-o-ultimo-estagio ter.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Possessão</h5>
          <p class="card-text">.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card efeito efeitoCont">
        <img src="img/animalcordial-ter.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">O Animal</h5>
          <p class="card-text">.</p>
        </div>
      </div>
    </div>
</div>


<br>
<div class="categoria"><a href="/terror"><h5>Veja mais</h5></a></div>
</div>

<div class="container">
  <br>
  <div class="categoria"><h1>FANTASIA</h1></div>

<div class="row row-cols-1 row-cols-md-6 g-4">
  <div class="col">
    <div class="card efeito efeitoCont">
      <img src="img/thor amor e trovso fa.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Thor</h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card efeito efeitoCont">
      <img src="img/a-bussola-de-ouro fa.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h5 class="card-title">A bussola</h5>
          <p class="card-text"></p>
        </div>
    </div>
  </div>
  <div class="col">
    <div class="card efeito efeitoCont">
      <img src="img/Percy-Jackson-e-o-Mar-de-Monstros-Poster fa.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h5 class="card-title">Monstros</h5>
          <p class="card-text"></p>
        </div>
      
    </div>
  </div>
  <div class="col">
    <div class="card efeito efeitoCont">
      <img src="img/ghostbusters fa.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h5 class="card-title">ghostbusters</h5>
          <p class="card-text"></p>
        </div>
    </div>
  </div>
  <div class="col">
      <div class="card efeito efeitoCont">
        <img src="img/oz fa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Oz</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card efeito efeitoCont">
        <img src="img/a ilha da fantasia fa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">A Ilha</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
</div>


<br>
<div class="categoria"><a href="/fantasia"><h5>Veja mais</h5></a></div>
</div>

<div class="container">
  <br>
  <div class="categoria"><h1>AVENTURA</h1></div>

<div class="row row-cols-1 row-cols-md-6 g-4">
  <div class="col">
    <div class="card efeito efeitoCont">
      <img src="img/jungle cruise.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Disney Jungle Cruise</h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card efeito efeitoCont">
      <img src="img/huncharted av.png" class="card-img-top" alt="...">
      <div class="card-body">
          <h5 class="card-title">Huncharted</h5>
          <p class="card-text"></p>
        </div>
    </div>
  </div>
  <div class="col">
    <div class="card efeito efeitoCont">
      <img src="img/the kings daughter fa.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h5 class="card-title">the kings</h5>
          <p class="card-text"></p>
        </div>
      
    </div>
  </div>
  <div class="col">
    <div class="card efeito efeitoCont">
      <img src="img/os avetureiros.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h5 class="card-title">Avetureiros</h5>
          <p class="card-text"></p>
        </div>
    </div>
  </div>
  <div class="col">
      <div class="card efeito efeitoCont">
        <img src="img/piratasdocaribe av.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Piratas</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card efeito efeitoCont">
        <img src="img/jumanji2 fa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Jumanji</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
</div>


<br>
<div class="categoria"><a href="/aventura"><h5>Veja mais</h5></a></div>
</div>

<div class="container">
  <br>
  <div class="categoria"><h1>GUERRA</h1></div>

<div class="row row-cols-1 row-cols-md-6 g-4">
  <div class="col">
    <div class="card efeito efeitoCont">
      <img src="img/traidos pela guerra.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Traidos pela Guerra</h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card efeito efeitoCont">
      <img src="img/guerra civil org.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h5 class="card-title">Guerra Civil</h5>
          <p class="card-text"></p>
        </div>
    </div>
  </div>
  <div class="col">
    <div class="card efeito efeitoCont">
      <img src="img/guerra oculta.jfif" class="card-img-top" alt="...">
      <div class="card-body">
          <h5 class="card-title">Guerra oculta</h5>
          <p class="card-text"></p>
        </div>
      
    </div>
  </div>
  <div class="col">
    <div class="card efeito efeitoCont">
      <img src="img/guerra ao terror.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h5 class="card-title">Guerra ao terror</h5>
          <p class="card-text"></p>
        </div>
    </div>
  </div>
  <div class="col">
      <div class="card efeito efeitoCont">
        <img src="img/retratos de uma guerra.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Retratos de guerra</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card efeito efeitoCont">
        <img src="img/Relatos_De_Guerra-.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Relatos_De_Guerra</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
</div>


<br>
<div class="categoria"><a href="/guerra"><h5>Veja mais</h5></a></div>
</div>

    <%- include('../partials/footer-1.ejs') %>
  </div>
</body>

<%- include('../partials/footer.ejs') %>